.b-product-flex-wrapper {
  display: block; }

.b-product-flex {
  display: inline-block;
  width: 33%;
  min-height: 240px; }

.b-product-flex.b-promo-box {
  display: inline-block;
  width: 66.3%;
  min-height: 240px; }

@media (max-width: 767px) {
  .b-product-flex {
    width: 50%; }
  .b-product-flex.b-promo-box {
    width: 100%; } }

@media (max-width: 600px) {
  .b-product-flex {
    width: 100%; }
  .b-product-flex.b-promo-box {
    width: 100%; } }
